<div class="titlebar titlebar-tabs">
  <h1>{{title}}</h1>
  <p>{{subtitle}}</p>
  <div class="tabs">
    <a href="{{rootPath}}{{tableft-href}}" class="btn btn-filled">{{tableft}}</a>  
    <a href="{{rootPath}}{{tabright-href}}" class="btn btn-transparent">{{tabright}}</a>
  </div>
</div>
